@import 'vars';
@import 'libs';
@import 'fonts';
@import 'global';

.header {
  position: fixed;
  z-index: 10;
  //stretch on full width
  left: 0;
  right: 0;
  top: 0;
  padding: 15px 0;
  background: rgba(28, 28, 28, 0.6);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %ubuntu-medium;
    font-size: 15px;
    line-height: 1.133em;
    text-transform: uppercase;
  }

  .logo {
    margin-right: 70px;
  }

  &__phone {
    margin-left: 8px;
    @extend %ubuntu-bold;
    font-size: 16px;
    line-height: 1.125em;
  }
}

.menu {
  &__btn {
    display: none;
  }
  &__list-item {
    display: inline-block;
    //exept 1st elem
    & + .menu__list-item {
      padding-left: 20px;
    }
  }
  &__list-item a {
    position: relative;
    &::after {
      transition: all 1s;
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      bottom: -1px;
      left: 0;
      background-color: #fff;
      opacity: 0;
    }
  }

  &__list-item.active a::after {
    transition: all 0.3s;
    opacity: 1;
  }
  hr {
    display: none;
  }
  &__list-phone {
    display: none;
  }
}

.top {
  background-image: url('../images/top-bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: radial-gradient(
      45.97% 54.43% at 50% 45.57%,
      rgba(23, 26, 28, 0) 50.28%,
      rgba(23, 26, 28, 0.00225974) 50.29%,
      rgba(4, 5, 5, 0.820343) 58.72%,
      rgba(5, 5, 6, 0.792703) 80.08%,
      #000000 87.89%
    );
    opacity: 0.4;
  }
  &__wrapper {
    display: flex;
  }
  &__container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 44px;
  }
  &__inner {
    text-align: center;
  }
  &__title {
    margin-bottom: 0.26em;
  }
  &__image {
    margin-bottom: 25px;
  }
  &__text {
    margin-bottom: 35px;
  }
  &__social-list {
    margin: 0 auto;
    width: fit-content;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__social-item {
    display: inline-block;
    & + .top__social-item {
      padding-left: 50px;
    }
  }
  &__social-link {
    opacity: 0.5;
    transition: all 0.3s;
    &:hover {
      opacity: 1;
    }
  }
}

.products {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
  }
  &__text {
    max-width: 441px;
    p + p {
      margin-top: 35px;
    }
  }
  &__slider-box {
    max-width: 560px;
    margin-top: 110px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: -15px;
      right: -15px;
      width: 100%;
      height: 94%;
      border: 4px solid #fff;
    }
  }
  &__slider-text {
    position: absolute;
    left: -238px;
    bottom: 51px;
    max-width: 281px;
    text-align: right;
    z-index: 2;
  }
  .slick-slide img {
    width: inherit;
  }
  .slider-btn {
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 62px;
    height: 54px;
    z-index: 2;
    border: none;
    outline: none;
    background-color: #fff;
    cursor: pointer;
    svg {
      stroke: #000;
    }
  }
  .slick-disabled {
    background-color: #000;
    cursor: default;
    svg {
      stroke: #fff;
    }
  }
  .slider-left {
    right: 62px;
  }
}

.benefits {
  &__inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    display: flex;
    // align-items: flex-end;

    &:nth-child(even) {
      margin-top: 12px;
    }
    &:first-child {
      margin-bottom: 103px;
      &:before {
        content: '';
        position: absolute;
        background-image: url('../images/line-1.svg');
        background-repeat: no-repeat;
        background-position: 0 0;
        max-width: 245px;
        width: calc(100vw - 1015px);
        height: 50px;
        top: 30px;
        left: 351px;
      }
    }
    &:nth-child(2) {
      margin-right: 30px;
      margin-bottom: 103px;
      &:before {
        content: '';
        position: absolute;
        background-image: url('../images/line-2.svg');
        background-repeat: no-repeat;
        background-position: 0 0;
        width: 463px;
        height: 63px;
        bottom: -76px;
        left: -482px;
      }
    }
    &:nth-child(3) {
      margin-left: 30px;
      &:before {
        content: '';
        position: absolute;
        background-image: url('../images/line-3.svg');
        background-repeat: no-repeat;
        background-position: 0 0;
        max-width: 255px;
        width: calc(100vw - 1015px);
        height: 43px;
        top: 16px;
        left: 360px;
      }
    }
  }
  &__num {
    position: absolute;
    bottom: 0;
    left: -26px;
    font-size: 36px;
    line-height: 1.139em;
    @extend %ubuntu-bold;
  }
  &__item:nth-child(odd) {
    .benefits__num {
      bottom: 12px;
    }
  }
  &__img {
    position: relative;
    margin-right: 32px;
    &::before {
      content: '';
      position: absolute;
      top: -12px;
      right: -12px;
      width: 195px;
      height: 130px;
      z-index: -1;
      border: 2px solid #fff;
    }
  }
  &__info {
    max-width: 300px;
  }
  &__info-title {
    margin-bottom: 10px;
  }
}

.specification {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item:nth-child(odd) {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
  }
  &__item:nth-child(2) {
    margin-bottom: 27px;
    margin-left: -52px;
    img {
      width: 100%;
    }
  }

  &__box {
    position: relative;
  }
  &__box-2 {
    margin-top: 140px;
  }
  &__box-4 {
    margin-top: 170px;
  }
  &__box:before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
  &__box-1:before {
    background-image: url('../images/pointer-1.svg');
    width: 230px;
    height: 115px;
    top: 14px;
    right: -108px;
  }
  &__box-2:before {
    background-image: url('../images/pointer-2.svg');
    width: 350px;
    height: 81px;
    top: -65px;
    right: -276px;
  }
  &__box-3:before {
    background-image: url('../images/pointer-3.svg');
    width: 260px;
    height: 104px;
    top: 11px;
    left: -278px;
  }
  &__box-4:before {
    background-image: url('../images/pointer-4.svg');
    width: 125px;
    height: 90px;
    top: -77px;
    left: -134px;
  }
  &__box-title {
    margin-bottom: 10px;
  }
  &__box-text {
    width: 280px;
  }
}

.questions {
  .title {
    margin-bottom: 38px;
  }
  &__inner {
    padding-left: 25px;
    display: flex;
    align-items: flex-end;
  }
  &__image {
    margin-bottom: 30px;
    img {
      width: 100%;
    }
  }
  &__items {
    max-width: 757px;
    margin-right: 72px;
  }
  &__item {
    max-width: 685px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
  }
  &__item-title {
    padding: 20px 40px;
    line-height: 1.333em;
    @extend %ubuntu-medium;
    position: relative;
    cursor: pointer;
    &::after {
      content: url('../images/questions-arrow.svg');
      position: absolute;
      top: 0;
      right: -72px;
      width: 72px;
      height: 67px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__item-text {
    padding: 0px 10px 70px 50px;
    line-height: 150%;
    display: none;
  }
  &__item--active {
    .questions__item-title::after {
      transform: rotate(180deg);
    }
    .questions__item-text {
      display: block;
    }
  }
}

.contacts {
  .page-section__wrapper {
    position: relative;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__info-box {
    margin-bottom: 30px;
    a {
      display: block;
      margin-bottom: 5px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__info-title {
    margin-bottom: 13px;
  }
  &__form {
    max-width: 570px;
  }
  &__form-title,
  &__form-text {
    margin-bottom: 13px;
  }
  &__form-input,
  &__form-textarea {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border: none;
    outline: none;
    color: #fff;
    @extend %ubuntu-regular;

    &::placeholder {
      @extend %ubuntu-regular;
      font-size: 13px;
      line-height: 130%;
      color: #ffffff;
      opacity: 0.4;
    }
  }
  &__form-input:first-child {
    margin-right: 10px;
  }
  &__form-textarea {
    resize: none;
    width: 100%;
    height: 144px;
    margin: 10px 0 20px;
  }
  &__form-btn {
    @extend %ubuntu-medium;
    font-size: 14px;
    line-height: 1.143em;
  }
  &__social-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 166px 0px 0;
  }
  &__social-item:first-child {
    margin-top: 10px;
  }
  &__social-item + .contacts__social-item {
    margin-top: 24px;
  }
  &__social-link {
    opacity: 0.5;
    transition: all 0.3s;
    &:hover {
      opacity: 1;
    }
  }
  .footer__copy {
    position: absolute;
    bottom: 32px;
    right: 64px;
    font-size: 13px;
    line-height: 130%;
    color: #fff;
    @extend %ubuntu-light;
    opacity: 0.64;
  }
}

@import 'media';
