@media (max-width: 1185px) {
  .benefits__item::before {
    display: none;
  }
  .benefits__item:first-child,
  .benefits__item:nth-child(2),
  .benefits__item:nth-child(3),
  .benefits__item:nth-child(4) {
    margin: 0;
  }
  .benefits__item + .benefits__item {
    margin-top: 35px;
  }
  .benefits__item:nth-child(even) {
    margin-left: 424px;
  }
}

@media (max-width: 1160px) {
  .header .logo {
    margin-right: 0;
  }
  .header__info {
    margin-right: 161px;
  }
  .menu {
    order: 1;
  }
  .menu__list {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(#1c1c1c, 0.9);
    z-index: -1;
    display: flex;
    padding-top: 90px;
    flex-direction: column;
    justify-content: space-around;
    transform: translateY(-100%);
    transition: transform 0.5s;
    &--active {
      transform: translateY(0);
    }
  }
  .menu .menu__list-item {
    padding-left: 24px;
  }
  .menu__btn {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
  }
  .menu__btn::before,
  .menu__btn::after {
    content: '';
    width: 24px;
    height: 2px;
    background-color: #e0e0e0;
    display: block;
    margin-bottom: 4px;
    transition: transform 0.3s;
  }
  .menu__btn::after {
    margin-bottom: 0;
    width: 16px;
    margin-left: auto;
  }
  .menu__btn-line {
    background-color: #e0e0e0;
    display: block;
    width: 24px;
    height: 2px;
    margin-bottom: 4px;
    opacity: 1;
    transition: opacity 0.7s;
  }
  .menu__btn.menu__btn--active {
    .menu__btn-line {
      transition: opacity 0s;
      opacity: 0;
    }
    &::after {
      width: 24px;
      transform: translateY(-6px) rotate(-135deg);
    }
    &::before {
      transform: translateY(6px) rotate(135deg);
    }
  }
  .menu hr {
    width: 100vw;
    opacity: 0.24;
    display: block;
    margin: -6px 0;
  }
  .menu__list-phone {
    display: inline-block;
    margin-bottom: 9.6vh;
  }
  .menu .header__phone {
    margin-left: 0;
  }
  .header__info .header__phone {
    display: none;
  }

  .top__image {
    width: 80%;
  }
  h1 {
    font-size: 80px;
  }
  h3 {
    font-size: 20px;
  }

  .title {
    font-size: 38px;
    margin-bottom: 25px;
  }
  p {
    font-size: 16px;
  }
  .products__text p + p {
    margin-top: 25px;
  }
  .page-section__wrapper {
    padding-top: 125px;
  }
  .products__slider-box {
    width: calc(100% - 441px - 15px);
  }
  .products__slider-text {
    top: -70px;
    right: -15px;
    left: auto;
    bottom: auto;
  }
  .products .slider-btn {
    bottom: -40px;
    width: 50px;
    height: 44px;
    z-index: 2;
  }
  .products .slider-left {
    right: 50px;
  }
  .specification__box-2:before {
    height: 67px;
    top: -54px;
  }
  .specification__box-3:before {
    height: 93px;
    top: 41px;
    left: -246px;
  }
  .questions .title {
    margin-bottom: 25px;
  }
}
@media (max-width: 1080px) {
  .specification__box-1,
  .specification__box-2,
  .specification__box-3,
  .specification__box-4 {
    &:before {
      display: none;
    }
  }
  .specification__box-2,
  .specification__box-4 {
    margin-top: 35px;
  }
  .specification__item:nth-child(2) {
    text-align: center;
    margin: 0 15px 0 0;
  }
  .contacts__social-list {
    margin-right: 55px;
  }
}
@media (max-width: 1040px) {
  .benefits__item:nth-child(even) {
    margin-left: 0;
  }
  .benefits__num {
    display: none;
  }
  h4 {
    font-size: 19px;
  }
  .questions__item-title {
    padding: 10px 20px;
  }
  .questions__item-title::after {
    right: -50px;
    width: 50px;
    height: 45px;
  }
  .questions__item-text {
    padding-bottom: 30px;
    padding-left: 30px;
  }
  .questions__items {
    margin-right: 50px;
  }
}

@media (max-width: 945px) {
  .products__inner {
    flex-direction: column;
  }
  .products__text {
    max-width: 625px;
  }
  .products__slider-box {
    width: auto;
    max-width: 480px;
    margin-left: auto;
    margin-right: 40px;
  }
  .specification__inner {
    flex-direction: column;
  }
  .specification__item:nth-child(odd) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .specification__item:nth-child(2) {
    margin: 25px 15px 25px 0;
    img {
      width: 80%;
    }
  }
  .specification__box-2,
  .specification__box-4 {
    margin-top: 0;
  }
  .questions__image {
    display: none;
  }
  .questions__items {
    margin-right: 72px;
  }
  .contacts__inner {
    flex-direction: column;
  }
  .contacts__form {
    order: 2;
    margin-right: 55px;
  }
  .contacts__info {
    display: flex;
    flex-wrap: wrap;
  }
  .contacts__info-box {
    width: fit-content;
    margin-right: 20px;
    margin-bottom: 15px;
  }
  .contacts__social-list {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 15px;
  }
  .contacts__social-item:first-child {
    margin-top: 0;
  }
  .contacts__social-item + .contacts__social-item {
    margin-top: 0;
    margin-left: 24px;
  }
  .contacts__form-line {
    display: flex;
    justify-content: space-between;
  }
  .contacts__form-input {
    width: calc(50% - 5px);
  }
}

@media (max-height: 720px) {
  .top__title {
    display: none;
  }
  .page-section__wrapper {
    padding-top: 100px;
  }
}
@media (max-width: 677px) {
  .specification__item:nth-child(odd) {
    flex-direction: column;
  }
  .specification__box-2,
  .specification__box-4 {
    margin-top: 20px;
  }
  .specification__box-text {
    width: auto;
    padding-right: 55px;
  }
  .questions__item-title::after {
    content: url(../images/questions-arrow-white.svg);
    background-color: transparent;
    right: 0;
    height: 100%;
  }
  .questions__item-title {
    padding-right: 50px;
  }
  .questions__items {
    margin-right: 30px;
  }
}
@media (max-width: 600px) {
  .title {
    padding-left: 0;
    font-size: 30px;
    margin-bottom: 15px;
  }
  h4 {
    font-size: 17px;
  }
  p {
    font-size: 15px;
  }
  .products__text p + p {
    margin-top: 10px;
  }
  .products__slider-text {
    max-width: 240px;
    font-size: 16px;
    top: -60px;
  }
  .header__info {
    margin-right: 20px;
  }
  .top__image {
    width: 87%;
  }
  .top__title {
    display: none;
  }
  .page-section__wrapper {
    padding-top: 100px;
  }
  .page-section__inner {
    padding-left: 0;
  }
  .products__slider-box {
    width: 100%;
  }
  .products .slider-btn {
    display: none !important;
  }
  .benefits__item:first-child {
    margin-top: 25px;
  }
  .benefits__item {
    flex-wrap: wrap;
  }
  .benefits__img {
    margin-left: auto;
  }
  .questions .title {
    margin-bottom: 10px;
  }
  .specification__box-text {
    padding-right: 0;
  }
  .specification__box-2,
  .specification__box-4 {
    margin-top: 10px;
  }
  .questions__items {
    margin-right: 0;
  }
  .questions__item-text {
    padding-bottom: 20px;
    padding-left: 20px;
  }
  .contacts__form {
    margin-right: 0;
  }
  .contacts .footer__copy {
    right: 15px;
  }
}

@media (max-width: 560px) {
  .benefits__info {
    max-width: none;
    margin-right: 15px;
  }
  .contacts__form-line {
    flex-direction: column;
  }
  .contacts__form-input {
    width: 100%;
  }
  .contacts__form-input:first-child {
    margin-bottom: 10px;
  }
}
